<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <gazebo reference="base_link">
        <sensor name='imu_sensor' type='imu'>
            <topic>imu</topic>
            <update_rate>1</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <gz_frame_id>base_link</gz_frame_id>
        </sensor>
    </gazebo>

</robot>